.shopcategorys{
    border: 1px solid black;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
}

.shopcategory-sort{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left:60px;
    padding-right: 60px;
}